body {
    font-family: 'Roboto', sans-serif;
    background-color:#fdfdfd;
}


.content {
    position: absolute;
    width: 90%;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);

    text-align: center;
}
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait) {
    .content {
        transform: translate(-50%,-40%);
    }
}
/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {
    .content {
        transform: translate(-50%,-30%);
    }
}sudo


h1 {
    color: #303030;
}

p {
    mix-blend-mode: difference;
    color: #515151;
    font-size: large;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding-bottom: 5px;
}

a {
    color: #375EAB;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}